body{
    background-color:#222222;
}

#dCanvas{
   
    text-align:center;
}

#bottomBar{
    text-align:center;
    background-color:#222222;
}

#Row1{
    text-align:center;
    margin-left:40%;
    height: 70px;
    
}

#TextSetting{
    text-align:center;
    margin-left: 40%;
    height: 70px;  
     
}



.button {
    background-color: #444444; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    border-radius: 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.table {
    border-collapse: collapse;
    border: 1px solid #444444;
}